<!DOCTYPE html>
<html lang="en">

<head>
    {{template "general/header"}}
</head>

<body>
    <div>

    </div>
    <section class="container pl-8 bg-gradient-to-r from-blue-500 via-blue-400 to-blue-500 h-48 min-w-full mb-10 max-h-screen">
        <h1 class="text-slate-200 pt-10 font-bold text-2xl">Halo, Saya Lalu Isari At-tamimi</h1>
        <p class="mt-5 text-slate-200 font-semibold">Saya seorang mahasiswa dan sekarang sedang belajar program backend-engineering di ruang-guru</p>
    </section>
    <section class="container pl-8 pr-8">
        <h1></h1>


        <h1 class="font-bold text-xl mb-5 grid place-items-center">Welcome to kanban app</h1>

        <div class="grid place-items-center ">

            <div class="flex flex-wrap gap-4">

                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    <a href="/login">login</a>
                  </button>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    <a href="/register" >Register</a>
                  </button>



                <!-- akhir grid -->
            </div>
        </div>

        <!-- akhir grid -->
        </div>

    </section>
</body>

</html>